@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accounting</title>
    <environment names="Development">
        <link href="~/lib/angular/angular-csp.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="~/lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Production, Development2">
        <link href="~/min/lib.min.css" asp-append-version="true" rel="stylesheet" />
        <link href="~/min/site.min.css" asp-append-version="true" rel="stylesheet" />
    </environment>
</head>
<body ng-app="sdlife">
    <sdlife-app></sdlife-app>
    @Html.AntiForgeryToken()

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-component-router/angular_1_router.js"></script>
        <script src="~/lib/jquery.ui.touch/jquery.ui.touch.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>

        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/moment/locale/zh-cn.js"></script>
        <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
        <script src="~/lib/fullcalendar/dist/lang/zh-cn.js"></script>
        <script src="~/lib/angular-ui-calendar/src/calendar.js"></script>

        <script src="~/app/common/app.js"></script>
        <script src="~/app/common/widgets/loading.js"></script>

        <script src="~/app/accounting/accounting-page.js"></script>
        <script src="~/app/accounting/accounting.createicon.js"></script>
        <script src="~/app/accounting/accounting.common.js"></script>
        <script src="~/app/accounting/accounting.api.js"></script>
        <script src="~/app/accounting/accounting.create.js"></script>
        <script src="~/app/accounting/accounting.edit.js"></script>

        <script src="~/app/login/login-page.js"></script>
        <script src="~/app/login/login.api.js"></script>
    </environment>

    <environment names="Production,Development2">
        <script src="~/min/lib.min.js" asp-append-version="true"></script>
        <script src="~/min/app.min.js" asp-append-version="true"></script>
        <script src="~/min/app.tpl.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>