/*记帐页面*/
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.calendar-delete-button {
    z-index: 80;
}

    .calendar-delete-button:hover {
        color: chartreuse;
        font-weight: bolder;
    }

md-tooltip .md-content {
    height: auto;
}



/* 登陆页面 */
.login-content md-card {
    z-index: 0;
}

.login-content-half {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(200, 100%, 60%);
    content: "";
}



/*菜单*/
.md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon {
  margin: auto 0 auto auto;
  /*padding-top: 12px;
  width: 15px;*/
  float: right;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .md-button.active {
  color: #FF5722; /* deep-orange 500 */
}

.menu-toggle-list {
  background: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}
