/*记帐页面*/
.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.calendar-delete-button {
    z-index: 80;
}

    .calendar-delete-button:hover {
        color: chartreuse;
        font-weight: bolder;
    }

md-tooltip .md-content {
    height: auto;
}



/* 登陆页面 */
.login-content md-card {
    z-index: 0;
}

.login-content-half {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(200, 100%, 60%);
    content: "";
}