<md-sidenav class="md-sidenav-left md-whiteframe-1dp" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <h3>sdlife</h3>
        </div>
    </md-toolbar>

    <md-content role="navigation">
        <ul class="side-menu">
            <li ng-repeat="menu in vm.menus" class="parent-list-item">
                <menu-item menu="menu" router="vm.router"
                           ng-if="menu.type === 'item'">
                </menu-item>
                <menu-folder menu="menu" router="vm.router"
                             is-open="vm.isFolderOpen(menu)"
                             toggle="vm.toggleFolder(menu)"
                             ng-if="menu.type === 'folder' && menu.visible()">
                </menu-folder>
            </li>
        </ul>
    </md-content>
</md-sidenav>