<div flex>
    <md-button class="md-button-toggle" ng-class="{toggled : vm.isOpen}"
               ng-click="vm.onclick()"
               layout="row"
               aria-label="sdlife-menu-{{vm.menu.title | nospace}}">
        {{vm.menu.title}}
        <md-icon class="md-toggle-icon" ng-class="{toggled : vm.isOpen}">
            keyboard_arrow_down
        </md-icon>
    </md-button>
</div>
<ul ng-show="vm.isOpen" class="menu-toggle-list">
    <li ng-repeat="menu in vm.menu.subMenus">
        <menu-item menu="menu" router="vm.router"></menu-item>
    </li>
</ul>