<form name="createForm" ng-submit="vm.commit(createForm.$valid)">
    <loading promise="vm.loading" size="90"></loading>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>记一笔 ({{vm.date | accountingDate}})</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            <div layout="row" flex="10">
                <md-autocomplete flex required
                                 md-no-cache="true"
                                 md-input-name="autocompleteField"
                                 md-min-length="1"
                                 md-input-minlength="1"
                                 md-input-maxlength="20"
                                 md-search-text="vm.$searchTitle"
                                 md-selected-item="vm.result.title"
                                 md-items="item in vm.searchTitle(vm.$searchTitle)"
                                 md-floating-label="标题">
                    <md-item-template>
                        <span md-highlight-text="vm.$searchTitle" md-highlight-flags="^i">{{item}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-input-container flex>
                    <label>金额</label>
                    <input type="number" required min="0.5" max="9999999" step="0.5"
                           ng-model="vm.result.amount" />
                </md-input-container>

                <md-input-container flex>
                    <label>时间</label>
                    <input type="time" required 
                           ng-model="vm.result.time" />
                </md-input-container>
            </div>

            <md-input-container flex="5">
                <label>备注</label>
                <textarea md-maxlength="4000" rows="3"
                          md-select-on-focus
                          ng-model="vm.result.comment"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()" md-autofocus>
            取消
        </md-button>
        <md-button type="submit">
            提交
        </md-button>
    </md-dialog-actions>
</form>