<create-icon ng-if="vm.canCreate"
             user-id="vm.userId"
             on-created="vm.onCreated()"></create-icon>

<br />
<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <md-input-container flex ng-class="{'md-input-invalid': !vm.queryOk}">
            <label>SQL查询...</label>
            <input type="text"
                   ng-model="vm.query.sql" />
        </md-input-container>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table md-progress="vm.promise">
        <thead md-head md-order="vm.query.orderBy" md-on-reorder="vm.loadData">
            <tr md-row>
                <th md-column md-order-by="Title">标题</th>
                <th md-column md-order-by="Time">时间</th>
                <th md-column md-order-by="Amount" md-numeric>数额(元)</th>
                <th md-column md-order-by="IsIncome">收入/支出</th>
                <th md-column>备注</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="item in vm.data.items">
                <td md-cell>{{item.title}}</td>
                <td md-cell>{{item.time | accountingTime}}</td>
                <td md-cell>{{item.amount}}</td>
                <td md-cell>{{item.isIncome ? '收入' : '支出'}}</td>
                <td md-cell>{{item.comment}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="vm.query.pageSize" 
                     md-limit-options="[12,20,50,100]"
                     md-page="vm.query.page"
                     md-page-select="true"
                     md-total="{{vm.data.totalCount}}"
                     md-label="{page: '页码：', of: '/', rowsPerPage: '每页行数：'}"
                     md-on-paginate="vm.loadData"></md-table-pagination>