<div layout="column">
    <accounting-app-bar router="vm.$router"></accounting-app-bar>
    <div layout-padding>
        <loading size="160" promise="vm.loading"></loading>
        <div ui-calendar="vm.calendarConfig" ng-model="vm.eventSources"></div>
        <div>
            收入：<strong>{{vm.totalIncome | money}}</strong>
            &nbsp;&nbsp;
            支出：<strong>{{vm.totalSpend | money}}</strong>
        </div>

        <create-icon ng-if="vm.canCreate"
                     user-id="vm.userId"
                     on-created="vm.onCreated()"></create-icon>

    </div>
</div>
