<md-toolbar class="md-whiteframe-glow-z1 appbar">
    <div class="md-toolbar-tools" tabindex="-1">
        <md-button class="md-icon-button" ng-click="vm.openMenu()" hide-gt-sm aria-label="Toggle Menu">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <div layout="row" flex class="fill-height">
            <ng-transclude></ng-transclude>
        </div>
        <span flex></span>

        <div layout="row">
            <md-button aria-label="Change Password" ng-click="vm.showChangePasswordDialog($event)">
                修改密码
            </md-button>
            <md-button aria-label="Logout" ng-click="vm.logout($event)">
                注销
            </md-button>
        </div>
    </div>
</md-toolbar>