<md-card class="md-whiteframe-2dp" style="height: 50%; width: 100%; position: absolute; padding: 0; background: hsl(200, 100%, 60%);"></md-card>
<div fxLayout="row" fxLayoutAlign="center center" style="position: absolute; height: 100%; width: 100%">
  <md-card fxFlex="35%" fxFlex.xs="100%">
    <md-card-header>
      <md-card-title >
        Login to life
      </md-card-title>
    </md-card-header>
    <md-card-content fxLayout="column">
      <md-input-container>
        <input mdInput placeholder="Username" class="full-width" [(ngModel)]="loginDto.username"/>
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="Password" class="full-width" [(ngModel)]="loginDto.password"/>
      </md-input-container>
    </md-card-content>
    <md-card-actions fxLayout="row">
      <div fxFlex></div>
      <button fxFlex md-raised-button (click)="login()">Login</button>
      <button fxFlex md-button>Forgot password</button>
    </md-card-actions>
  </md-card>
</div>