<div class="login-content-half md-whiteframe-2dp"></div>
<div class="login-content" style="min-height: 100%" layout="row" layout-align="center center">
    <md-card class="md-whiteframe-4dp" flex="35" flex-md="50" flex-sm="70" flex-xs="100">
        <md-toolbar>
            <h2 class="md-toolbar-tools">
                <span>登陆life</span>
            </h2>
        </md-toolbar>
        <md-content class="md-padding" >
            <loading promise="vm.loading" size="100"></loading>
            <form name="loginForm" layout="column" ng-submit="vm.commit()">
                <md-input-container>
                    <label>用户名</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input type="text"
                           required
                           ng-model="vm.input.userName" />
                </md-input-container>
                <md-input-container>
                    <label>密码</label>
                    <md-icon class="material-icons">security</md-icon>
                    <input type="password"
                           required
                           ng-model="vm.input.password" />
                </md-input-container>

                <md-switch ng-model="vm.input.rememberMe" aria-label="Remember Me">
                    记住我
                </md-switch>
                
                <div layout="row" layout-align="center center" style="padding-top: 20px;">
                    <md-button type="submit" class="md-raised md-primary">
                        登陆
                    </md-button>
                </div>
            </form>
        </md-content>
    </md-card>
</div>