@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Accounting</title>
    <link href="~/lib/angular/angular-csp.css" rel="stylesheet" />
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
</head>
<body ng-app="accounting">
    <accounting-page></accounting-page>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>

    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/zh-cn.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.js"></script>
    <script src="~/lib/fullcalendar/dist/lang-all.js"></script>
    <script src="~/lib/angular-ui-calendar/src/calendar.js"></script>

    <script src="~/app/accounting/accounting.common.js"></script>
    <script src="~/app/accounting/accounting-page.js"></script>
</body>
</html>